<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>
        <% if(typeof name !=='undefined') { %>
            <%= name %>
        <% } else { %>
            Movieopolis
        <% } %>
    </title>
</head>

<body>
    <nav>
        <h1>Movieopolis | </h1>
        <a href="/" class="nav">Home</a>
        <a href="" class="nav">Action</a>
        <a href="" class="nav">Adventure</a>
        <a href="" class="nav">Animated</a>
        <a href="" class="nav">Comedy</a>
        <a href="" class="nav">Crime</a>
        <a href="" class="nav">Documentary</a>
        <a href="" class="nav">Drama</a>
        <a href="" class="nav">Fantasy</a>
        <a href="" class="nav">Historical</a>
        <a href="" class="nav">Horror</a>
        <a href="" class="nav">Musical</a>
        <a href="" class="nav">Mystery</a>
        <a href="" class="nav">Romance</a>
        <a href="" class="nav">Science Fiction</a>
        <a href="" class="nav">Sports</a>
        <a href="" class="nav">Thriller</a>
        <a href="" class="nav">Western</a>
    </nav>