<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <title>
        <% if(typeof name !=='undefined') { %>
            <%= name %>
        <% } else { %>
            Movieopolis
        <% } %>
    </title>
</head>

<body>
    <nav>
        <h1 class="header-h1">Movieopolis | </h1>
        <a href="/" class="nav">Home</a>
        <a href="/movies" class="nav">All</a>
        <a href="/movies/genre/Action" class="nav">Action</a>
        <a href="/movies/genre/Adventure" class="nav">Adventure</a>
        <a href="/movies/genre/Animated" class="nav">Animated</a>
        <a href="/movies/genre/Comedy" class="nav">Comedy</a>
        <a href="/movies/genre/Crime" class="nav">Crime</a>
        <a href="/movies/genre/Documentary" class="nav">Documentary</a>
        <a href="/movies/genre/Drama" class="nav">Drama</a>
        <a href="/movies/genre/Fantasy" class="nav">Fantasy</a>
        <a href="/movies/genre/Historical" class="nav">Historical</a>
        <a href="/movies/genre/Horror" class="nav">Horror</a>
        <a href="/movies/genre/Musical" class="nav">Musical</a>
        <a href="/movies/genre/Mystery" class="nav">Mystery</a>
        <a href="/movies/genre/Romance" class="nav">Romance</a>
        <a href="/movies/genre/Science Fiction" class="nav">Science Fiction</a>
        <a href="/movies/genre/Sports" class="nav">Sports</a>
        <a href="/movies/genre/Thriller" class="nav">Thriller</a>
        <a href="/movies/genre/Western" class="nav">Western</a>
    </nav>