<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <script src="/scripts/app.js" defer></script>
    <title>
        <% if (typeof name !== 'undefined') { %>
            <%= name %>
        <% } else { %>
            Movieopolis
        <% } %>
    </title>
</head>

<body>
    <nav>
        <h1 class="nav-left-heading">Movieopolis</h1>
        <div class="nav-center-div">
            <a href="/" class="nav-center-heading">Home</a>
            <a href="/movies" class="nav-center-heading">Movies</a>
        </div>
        <div>
            <div class="nav-right-outer-div">
                <button class="nav-right-btns">Search by Title</button>
                <div class="nav-right-inner-div nav-right-title-dropdown">
                    <div class="nav-right-inner-inner-div">
                        <input type="text" id="nav-search-input" placeholder="Top Gun">
                        <a href="/movies" id="nav-search-link">
                            <button type="submit" id="nav-search-btn">Search</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="nav-right-outer-div">
                <button class="nav-right-btns">Search by Genre</button>
                <div class="nav-right-inner-div nav-right-genre-dropdown">
                    <a href="/movies/genre/Action" class="nav-links">Action</a>
                    <a href="/movies/genre/Adventure" class="nav-links">Adventure</a>
                    <a href="/movies/genre/Animated" class="nav-links">Animated</a>
                    <a href="/movies/genre/Comedy" class="nav-links">Comedy</a>
                    <a href="/movies/genre/Crime" class="nav-links">Crime</a>
                    <a href="/movies/genre/Documentary" class="nav-links">Documentary</a>
                    <a href="/movies/genre/Drama" class="nav-links">Drama</a>
                    <a href="/movies/genre/Fantasy" class="nav-links">Fantasy</a>
                    <a href="/movies/genre/Historical" class="nav-links">Historical</a>
                    <a href="/movies/genre/Horror" class="nav-links">Horror</a>
                    <a href="/movies/genre/Musical" class="nav-links">Musical</a>
                    <a href="/movies/genre/Mystery" class="nav-links">Mystery</a>
                    <a href="/movies/genre/Romance" class="nav-links">Romance</a>
                    <a href="/movies/genre/Science Fiction" class="nav-links">Science Fiction</a>
                    <a href="/movies/genre/Sports" class="nav-links">Sports</a>
                    <a href="/movies/genre/Thriller" class="nav-links">Thriller</a>
                    <a href="/movies/genre/Western" class="nav-links">Western</a>
                </div>
            </div>
            <div class="nav-right-outer-div">
                <button class="nav-right-btns">▼</button>
                <div class="nav-right-inner-div nav-right-sign-dropdown">
                    <a href="/movies/signup" class="nav-links">Sign Up</a>
                    <a href="/movies/login" class="nav-links">Sign In</a>
                    <a href="/movies/logout" class="nav-links">Sign Out</a>
                </div>
            </div>
        </div>
    </div>

    </nav>