<%- include('./partials/header.ejs', { name: 'Add Movie' }) %>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    <div class="new-outer-div">
        <h1 class="new-heading">Add A Movie</h1>
        <form action="/movies" method="POST">
            <div class="new-inner-div">
                <label for="title">Title</label>
                <input required type="text" name="title" id="title" class="input" placeholder="Top Gun">
            </div>
            <div class="new-inner-div">
                <label for="image">Image Address</label>
                <input required type="text" name="image" id="image" class="input" placeholder="https//www.themoviedb.org/t/p/original/xUuHj3CgmZQ9P2cMaqQs4J0d4Zc.jpg">
            </div>
            <div class="new-inner-div">
                <label for="director">Director</label>
                <input required type="text" name="director" id="director" class="input" placeholder="Tony Scott">
            </div>
            <div class="new-inner-div">
                <label for="runtime">Runtime</label>
                <input required type="number" name="runtime" id="runtime" class="input" placeholder="110">
            </div>
            <div class="new-inner-div">
                <label for="rottenTomatoes">Rotten Tomatoes</label>
                <input required type="number" name="rottenTomatoes" id="rottenTomatoes" class="input" placeholder="58">
            </div>
            <div class="new-inner-div">
                <label for="releaseDate">Release Date</label>
                <input required type="text" name="releaseDate" id="releaseDate" class="input" placeholder="May 16, 1986">
            </div>
            <div class="new-inner-div">
                <label for="genre">Genre</label>
                <input required type="text" name="genre" id="genre" class="input" placeholder="Action">
            </div>
            <div class="new-inner-div">
                <label for="trailer">Trailer</label>
                <input required type="text" name="trailer" id="trailer" class="input" placeholder="https://www.youtube.com/embed/CwXOrWvPBPk">
            </div>
            <input id="new-submit-input" type="submit" value="Add Movie">
        </form>
        <div class="new-back-div">
            <input type="button" class="new-back-input" value="Back" onclick="goBack()">
        </div>
    </div>

<%- include('./partials/footer.ejs') %>