* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Limelight', cursive;
}

nav {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    padding: 20px;
}

.nav {
    color: white;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.home-header {
    color: white;
    font-size: 150px;
    margin-top: 7vh;
    text-align: center;
}

.home-div-enter-link {
    margin-top: 10vh;
    text-align: center;
    width: 100%;
}

.home-enter-link {
    background-color: rgb(154, 37, 35);
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 5%;
    border-right: 1px solid #333333;
    border-top: 1px solid #CCCCCC;
    color: white;
    cursor: pointer;
    font-size: 60px;
    padding: 10px;
    text-decoration: none;
}

.index-header,
.show-genre-header {
    font-size: 75px;
    margin: 40px;
    text-align: center;
}

.index-div-all-movies,
.show-genre-div-all-movies,
.show-all-movies {
    border: black solid 1px;
    background-color: rgb(234, 234, 234);
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.index-div-container,
.show-genre-div-container {
    display: grid;
    grid-template-columns: 550px 550px 550px;
    grid-auto-rows: minmax(550px, auto);
    grid-gap: 10px;
    justify-content: center;
}

.index-img {
    width: 20vw;
    height: 40vh;
    padding: 10px;
}

.index-link,
.show-genre-link {
    cursor: pointer;
    color: blue;
    text-decoration: none;
}

.header-h1 {
    font-size: 30px;
}

.show-outerdiv-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.index-add-link-container,
.show_genre-add-link-container {
    text-align: center;
    padding: 100px;
}

.index-add-link,
.show_genre-add-link {
    cursor: pointer;
    text-decoration: none;
    font-size: 40px;
    background-color: rgb(154, 37, 35);
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 5%;
    border-right: 1px solid #333333;
    border-top: 1px solid #CCCCCC;
    padding: 15px;
    color: white;
}

.show-edit-link,
.show-back-link,
.show-delete-link {
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
    background-color: rgb(154, 37, 35);
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 5%;
    border-right: 1px solid #333333;
    border-top: 1px solid #CCCCCC;
    padding: 15px;
    margin: 75px;
    color: white;
}

.new-back-link,
.edit-back-link {
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
    background-color: rgb(154, 37, 35);
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 5%;
    border-right: 1px solid #333333;
    border-top: 1px solid #CCCCCC;
    padding: 15px;
    margin: 75px;
    color: white;
}

.show-h1 {
    font-size: 100px;
    padding: 25px;
    text-align: center;
}

.new-h1,
.edit-h1 {
    font-size: 90px;
    padding-bottom: 20px;
    text-align: center;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    padding: 3px;
}

#bold {
    font-weight: bold;
}

.show-innerdiv-container,
.new-back-link-container,
.edit-back-link-container {
    padding-top: 75px;
}

.edit-page {
    margin-bottom: 40px;
    margin-top: 15px;
}

.new-div-container,
.edit-div-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#new-add-input,
#edit-edit-input {
    width: 8vw;
    margin-top: 10px;
}

form {
    text-align: center;
}

input {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    box-sizing: border-box;
}

label {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.new-div,
.edit-div {
    padding: 5px;
}

.input {
    text-align: center;
}

.error-img {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    width: 25vw;
}