* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Limelight', cursive;
}

nav {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    padding: 20px;
}

.header-h1 {
    font-size: 30px;
}

.header-a {
    color: white;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-decoration: none;
}

.home-h1 {
    color: white;
    font-size: 150px;
    margin-top: 7vh;
    text-align: center;
}

.home-div {
    margin-top: 10vh;
    text-align: center;
    width: 100%;
}

.home-a {
    background-color: rgb(154, 37, 35);
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 5%;
    border-right: 1px solid #333333;
    border-top: 1px solid #CCCCCC;
    color: white;
    cursor: pointer;
    font-size: 60px;
    padding: 10px;
    text-decoration: none;
}

.index-h1,
.show_genre-h1 {
    font-size: 75px;
    margin: 40px;
    text-align: center;
}

.index-search-div {
    display: flex;
    justify-content: center;
    padding-bottom: 55px;
}

#index-search-input {
    text-align: center;
    width: 30vw;
}

#index-search-btn {
    background-color: rgb(154, 37, 35);
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 5%;
    border-right: 1px solid #333333;
    border-top: 1px solid #CCCCCC;
    color: white;
    cursor: pointer;
    font-family: 'Limelight', cursive;
    font-size: 25px;
    padding: 10px;
    text-decoration: none;
}

.index-outer-div,
.show_genre-outer-div {
    display: grid;
    grid-auto-rows: minmax(550px, auto);
    grid-gap: 10px;
    grid-template-columns: 550px 550px 550px;
    justify-content: center;
}

.index-inner-div,
.show_genre-inner-div {
    background-color: rgb(234, 234, 234);
    border: black solid 1px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}

.index-a,
.show_genre-a {
    color: blue;
    cursor: pointer;
    text-decoration: none;
}

.index-img,
.show_genre-img {
    height: 40vh;
    padding: 10px;
    width: 20vw;
}

.index-add-div,
.show_genre-add-div {
    padding: 100px;
    text-align: center;
}

.index-add-a,
.show_genre-add-a {
    background-color: rgb(154, 37, 35);
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 5%;
    border-right: 1px solid #333333;
    border-top: 1px solid #CCCCCC;
    color: white;
    cursor: pointer;
    font-size: 40px;
    padding: 15px;
    text-decoration: none;
}

.show-outer-div,
.new-outer-div,
.edit-outer-div,
.delete-outer-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.show-h1,
.delete-h1 {
    font-size: 100px;
    padding: 25px;
    text-align: center;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    padding: 3px;
}

#bold {
    font-weight: bold;
}

.show-inner-div,
.delete-inner-div,
.edit-back-div {
    padding-top: 75px;
}

.trailer {
    padding: 30px;
}

.show-edit-a,
.show-delete-a,
.show-back-a,
.edit-back-a {
    background-color: rgb(154, 37, 35);
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 5%;
    border-right: 1px solid #333333;
    border-top: 1px solid #CCCCCC;
    color: white;
    cursor: pointer;
    font-size: 30px;
    margin: 75px;
    padding: 15px;
    text-decoration: none;
}

.new-back-div {
    display: flex;
    padding-top: 75px;
}

.new-back-a {
    background-color: rgb(154, 37, 35);
    border-radius: 5%;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 30px;
    justify-content: center;
    margin: 15px;
    padding: 10px 15px;
}

.new-h1,
.edit-h1 {
    font-size: 90px;
    padding-bottom: 20px;
    text-align: center;
}

form {
    text-align: center;
}

.new-inner-div,
.edit-inner-div {
    padding: 5px;
}

label {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

input {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    width: 100%;
}

.input {
    text-align: center;
}

#new-submit-input,
#edit-submit-input {
    margin-top: 10px;
    width: 8vw;
}

#delete-submit-input {
    margin-top: 10px;
}

.error-img {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    width: 25vw;
}