* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Limelight', cursive;
}

nav {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
}

.nav-left-heading {
    font-size: 35px;
}

.nav-center-div {
    padding-left: 215px;
}

.nav-center-heading {
    background-color: rgb(154, 37, 35);
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 5%;
    border-right: 1px solid #333333;
    border-top: 1px solid #CCCCCC;
    color: white;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin: 0 10px;
    padding: 5px 10px;
    text-decoration: none;
}

.nav-right-outer-div {
    display: inline-block;
    padding-left: 14px;
    position: relative;
}

.nav-right-outer-div:hover .nav-right-inner-div {
    display: block;
}

.nav-right-btns {
    background-color: rgb(154, 37, 35);
    border-radius: 5%;
    color: white;
    cursor: pointer;
    font-size: 25px;
    padding: 9px 10px;
}

.nav-right-inner-div {
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: none;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    width: 94%;
    z-index: 1;
}

.nav-right-inner-div .nav-genre-links {
    color: black;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}

.nav-right-inner-div .nav-genre-links:hover {
    background-color: #ddd;
}

.nav-title-dropdown {
    left: -70px;
}

.nav-right-inner-inner-div {
    display: flex;
    justify-content: center;
}

#nav-search-input {
    text-align: center;
    width: 50vw;
}

#nav-search-btn {
    background-color: rgb(154, 37, 35);
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 5%;
    border-right: 1px solid #333333;
    border-top: 1px solid #CCCCCC;
    color: white;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    padding: 5px;
    text-decoration: none;
}

.nav-genre-links {
    color: white;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    text-decoration: none;
    text-align: center;
}

.home-heading {
    color: white;
    font-size: 150px;
    margin-top: 7vh;
    text-align: center;
}

.home-div {
    margin-top: 10vh;
    text-align: center;
    width: 100%;
}

.home-link {
    background-color: rgb(154, 37, 35);
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 5%;
    border-right: 1px solid #333333;
    border-top: 1px solid #CCCCCC;
    color: white;
    cursor: pointer;
    font-size: 60px;
    padding: 10px;
    text-decoration: none;
}

.index-heading,
.show_genre-heading {
    font-size: 75px;
    margin: 40px;
    text-align: center;
}

.index-outer-div,
.show_genre-outer-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 10px;
    justify-content: center;
    width: 80%;
    margin: 10px auto;
}

.index-inner-div,
.show_genre-inner-div {
    background-color: rgb(234, 234, 234);
    border: black solid 1px;
    max-width: 500px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    width: 30%;
}

.index-link,
.show_genre-link {
    color: blue;
    cursor: pointer;
    text-decoration: none;
}

.index-img,
.show_genre-img {
    height: auto;
    padding: 10px;
    width: 90%;
}

.index-add-div,
.show_genre-add-div {
    padding: 100px;
    text-align: center;
}

.index-add-link,
.show_genre-add-link {
    background-color: rgb(154, 37, 35);
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 5%;
    border-right: 1px solid #333333;
    border-top: 1px solid #CCCCCC;
    color: white;
    cursor: pointer;
    font-size: 40px;
    padding: 15px;
    text-decoration: none;
}

.show-outer-div,
.new-outer-div,
.edit-outer-div,
.delete-outer-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 35px;
}

.show-heading,
.delete-heading {
    font-size: 100px;
    padding: 25px;
    text-align: center;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    padding: 3px;
}

#bold {
    font-weight: bold;
}

.trailer {
    padding: 30px;
}

.show-inner-div,
.edit-back-div,
.delete-inner-div {
    padding-top: 75px;
}

.show-edit-link,
.show-delete-link,
.show-back-link,
.edit-back-link {
    background-color: rgb(154, 37, 35);
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 5%;
    border-right: 1px solid #333333;
    border-top: 1px solid #CCCCCC;
    color: white;
    cursor: pointer;
    font-size: 30px;
    margin: 75px;
    padding: 15px;
    text-decoration: none;
}

.new-heading,
.edit-heading {
    font-size: 90px;
    padding-bottom: 20px;
    text-align: center;
}

form {
    text-align: center;
}

.new-inner-div,
.edit-inner-div {
    padding: 5px;
}

label {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

input {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    width: 100%;
}

.input {
    text-align: center;
}

#new-submit-input,
#edit-submit-input {
    margin-top: 10px;
    width: 10vw;
}

.new-back-div {
    display: flex;
    padding-top: 75px;
}

.new-back-input {
    background-color: rgb(154, 37, 35);
    border-radius: 5%;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 30px;
    justify-content: center;
    margin: 15px;
    padding: 10px 15px;
}

#delete-submit-input {
    margin-top: 10px;
}

.error-img {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    width: 25vw;
}