* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Limelight', cursive;
}

nav {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    padding: 20px;
}

.nav {
    color: white;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
}

.home-header {
    color: white;
    font-size: 150px;
    margin-top: 7vh;
    text-align: center;
}

.home-div-enter-link {
    margin-top: 10vh;
    text-align: center;     
    width: 100%;
}

.home-enter-link {
    background-color: rgb(154, 37, 35);
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 5%;
    border-right: 1px solid #333333;
    border-top: 1px solid #CCCCCC;
    color: white;
    cursor: pointer;
    font-size: 60px;
    padding: 10px;
    text-decoration: none;
}

.index-header,
.show-genre-header {
    font-size: 50px;
    margin: 30px;
    text-align: center;
}

.index-div-all-movies,
.show-all-movies {
    border: black solid 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

h3 {
    font-family: 'Poppins', sans-serif;
}

span {
    font-weight: 500;
}

img {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    width: 25vw;
}